* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}


.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

.kiri{
    color: rgb(255, 255, 255);
    flex: 1;
    background-color: #2C7C9C;
    position: fixed;
    width: 20%;
    height: 100vh;
    display: block;
}

.kiri h2{
    font-size: 28px;
    text-align: center;
    margin-right: 5%;
}

button{
    font-size: 18px;
    margin-top: 15px;
    color: white;
    border: none;
    background: none;
    width: 100%;
    height: 10%;
    outline: none;
}

button:hover{
    background: #369ac2;
    cursor: pointer;
}

.keluar{
    width: 100%;
    height: 10%;
    margin-top: 82%;
    font-size: 18px;
    color: white;
    border: none;
    background: none;
    outline: none;
}

.keluar:hover{
    background: #369ac2;
    cursor: pointer;
}

.kiri a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 100%;
}

.kanan {
    flex: 4;
    margin-left: 20%;
}

.submit{
    background: #2C7C9C;
    width: 350px;
}

#pert{
    width: 100%;
    margin-top: 5%;
}

.container{
    width: 100%;
}

table{
  border-collapse: collapse;
  width: 100%;
  height: 10%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
  }



